@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #273654;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.timer {
    border-radius: 3px;
    width: 90%;
}

.timer:after {
    clear: both;
    content: "";
    display: table;
}

.btn {
    font: 15px "Century Gothic", Futura, sans-serif;
    background: #fff;
    border: 1px solid #efefef;
    float: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 3px;
    text-align: center;
    outline: none;
    width: 25%;
}

.clock {
    font-family: 'Orbitron', sans-serif;
    pointer-events: none;
    padding-left: 15%;
    width: 55%;
}

.error {
    /*FF9933*/
    background: #c33f4c;
    border-color: #dc3545;
}

.success {
    /*138808*/
    background: #2c9243;
    border-color: #28a745;
}

.default {
    background: #c5c5c5;
}

.reset {
    width: 20%;
}
